[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/opt/local_kube/kubernetes/current/bin/kube-proxy \
  --config=/opt/local_kube/kubernetes/etc/kube-proxy-config.yaml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
