[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=${K8SFS_TARGET_LOCATION}/kubernetes/${KUBERNETES_GIT_VERSION}/bin/kube-apiserver \
  --advertise-address=${MASTER_IP} \
  --allow-privileged=true \
  --apiserver-count=3 \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --client-ca-file=${K8SFS_CERT_LOCATION}/ca.crt \
  --enable-admission-plugins=NamespaceLifecycle,LimitRanger,ServiceAccount,TaintNodesByCondition,Priority,DefaultTolerationSeconds,DefaultStorageClass,StorageObjectInUseProtection,PersistentVolumeClaimResize,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,RuntimeClass,ResourceQuota \
  --enable-swagger-ui=true \
  --etcd-cafile=${K8SFS_CERT_LOCATION}/ca.crt \
  --etcd-certfile=${K8SFS_CERT_LOCATION}/kubernetes.crt \
  --etcd-keyfile=${K8SFS_CERT_LOCATION}/kubernetes.key \
  --etcd-servers=https://${MASTER_IP}:2379 \
  --event-ttl=1h \
  --encryption-provider-config=${K8SFS_KUBECONFIG_LOCATION}/encryption-config.yaml \
  --kubelet-certificate-authority=${K8SFS_CERT_LOCATION}/ca.crt \
  --kubelet-client-certificate=${K8SFS_CERT_LOCATION}/kubernetes.crt \
  --kubelet-client-key=${K8SFS_CERT_LOCATION}/kubernetes.key \
  --kubelet-https=true \
  --runtime-config=api/all \
  --service-account-key-file=${K8SFS_CERT_LOCATION}/service-account.crt \
  --service-cluster-ip-range=10.32.0.0/24 \
  --service-node-port-range=30000-32767 \
  --tls-cert-file=${K8SFS_CERT_LOCATION}/kubernetes.crt \
  --tls-private-key-file=${K8SFS_CERT_LOCATION}/kubernetes.key \
  --enable-aggregator-routing=true \
  --enable-bootstrap-token-auth=true \
  --insecure-bind-address="127.0.0.1" \
  --insecure-port="6444" \
  --requestheader-client-ca-file=${K8SFS_CERT_LOCATION}/ca.crt \
  --requestheader-allowed-names=aggregator \
  --requestheader-extra-headers-prefix=X-Remote-Extra- \
  --requestheader-group-headers=X-Remote-Group \
  --requestheader-username-headers=X-Remote-User \
  --proxy-client-cert-file=${K8SFS_CERT_LOCATION}/proxy-client.crt \
  --proxy-client-key-file=${K8SFS_CERT_LOCATION}/proxy-client.key \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
