[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
# After=containerd.service
# Requires=containerd.service

[Service]
ExecStart=/opt/local_kube/kubernetes/current/bin/kubelet \
  --config=/opt/local_kube/kubernetes/etc/kubelet-config.yaml \
  --container-runtime=remote \
  --container-runtime-endpoint=unix:///run/containerd/containerd.sock \
  --image-pull-progress-deadline=2m \
  --kubeconfig=/opt/local_kube/kubernetes/etc/${WORKER_HOSTNAME}.kubeconfig \
  --network-plugin=cni \
  --register-node=true \
  --pod-manifest-path=/opt/local_kube/kubernetes/manifests/ \
  --node-ip=${DEVICE_IPV4} \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
