[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
# After=containerd.service
# Requires=containerd.service

[Service]
ExecStart=${K8SFS_TARGET_LOCATION}/kubernetes/${KUBERNETES_GIT_VERSION}/bin/kubelet \
  --config=${K8SFS_KUBECONFIG_LOCATION}/kubelet-config.yaml \
  --container-runtime=remote \
  --container-runtime-endpoint=unix:///run/containerd/containerd.sock \
  --image-pull-progress-deadline=2m \
  --kubeconfig=${K8SFS_KUBECONFIG_LOCATION}/${WORKER_HOSTNAME}.kubeconfig \
  --network-plugin=cni \
  --register-node=true \
  --pod-manifest-path=${K8SFS_MANIFESTS_LOCATION} \
  --hostname-override=${WORKER_HOSTNAME} \
  --root-dir=${WORKER_ROOT}/var/lib/kubelet \
  --log-dir=${WORKER_ROOT}/var/log/kubelet \
  --node-ip=${WORKER_IP} \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
